<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @helado.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @helado.descripcion %>
</p>

<p>
  <strong>Foto:</strong>
  <%= image_tag(@helado.foto_url, :width=>600) if @helado.foto.present? %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @helado.precio %>
</p>

<%= link_to 'Edit', edit_helado_path(@helado) %> |
<%= link_to 'Back', helados_path %>
